@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
<address>
    <!--<br />-->
    М. Рівне<br />
    <abbr title="Телефон">Тел:</abbr>
    +380 98 428 6170
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:suslov_ak16@nuwm.edu.ua">suslov_ak16@nuwm.edu.ua</a><br />
</address>