
@{
    ViewBag.Title = "Факти";
}
<div class=" jumbotron">
    <h1 align ="center">4 найважливіші факти про День захисника України. Що святкують українці 14 жовтня</h1>
    <p align = "center"><img src="~/Content/Images/2.jpg" /></p>
    <p align = "center">
        <b>
            Покрова, козаки та день заснування УПА. Чому свято 14 жовтня таке важливе для українців
        </b>
    </p>
    <p>
        4 жовтня в Україні стає особливим днем. В цей день відзначають одразу чотири свята та пам’ятні дні, пов’язані з різними історичними подіями. Православна церква святкує день Покрови Пресвятої Богородиці. З 1999 року згідно з указом президента Леоніда Кучми у свято Покрови відзначають День українського козацтва. Також вже більш ніж півстоліття цей день вважається датою створення Української повстанської армії.
    </p>
    <p>
        Враховуючи вищезазначене, було запропоновано святкувати 14 жовтня День захисника України, який повинен був замінити радянсько-російське свято 23 лютого. З 2015 року цей день став святковим вихідним.
    </p>
    <p align = "center">
        <b>
            Покрова
        </b>
    </p>
    <p>
        Ознакою свята Покрови є те, що вона покриває землю або листям або снігом. Частіше покриває листям, але всяке буває з погодою у середині жовтня і іноді у ці дні вже йде сніг.
    </p>
    <p>
        За легендою, у цей день у 860 році військо давніх русів на чолі з Аскольдом взяло в облогу центр православ'я — Константинополь, намагаючись захопити місто. Мешканці Константинополя з молитвою звернулись до Богородиці з проханням про порятунок. І Богородиця, за легендами, з'явилася перед людьми та вкрила їх своєю покровою. Після цього військо Аскольда вже не могло побачити цих людей.
    </p>
    <p>
        Вражений цим дивом Аскольд та його дружинники після цього прийняли хрещення та стали християнами. Точних даних про цю подію історична наука не має, вважається, що християнство на Русі офіційно з’явилося пізніше.
    </p>
    <p>
        За іншою версією, приводом для свята стало видіння Андрія Юродивого під час облоги Константинополя. Богородиця з'явилася мешканцям міста у храмі та прийняла їх під свій захист. Після цього армія противника відступила.
    </p>
    <p>
        Описані події мали місце, згідно з деякими датуваннями, в 902 або 910 роках при імператорові Льві Мудрому і патріарху Макарії. Тоді Візантійська імперія вела війну з арабами-мусульманами і Константинополю загрожувала небезпека.
    </p>
    <p align = "center">
        <b>
            Козаки
        </b>
    </p>
    <p>
        Зазначимо, що Покрова Пресвятої Богородиці була одним з найголовніших свят запорізьких козаків. Вони будували багато однойменних храмів та особливо шанували ікони Покрови.
    </p>
    <p>
        Саме на Покрову запорізькі козаки вирушали на зимівлю по своїх хуторах та зимівниках. На Запорізькій січі залишалася тільки постійна залога із січовиків. Тоді основними були церковні вихідні, тому і склалось козацьке свято на Покрову.
    </p>
    <p>
        Першу церкву на честь Покрови запорожці побудували в 1659 році на Чортомлицькій Січі. За свідченням українського історика Дмитра Яворницького, за час існування Січі було побудовано 13 церков Покрови Богородиці.
    </p>
    <p>
        Коли у XVII-XVIII століттях з’явилось "козацьке бароко, митці почали малювати новий вид ікони, який отримав назву "Козацька Покрова". На ній під покровом-омофором Богородиці іконописці розміщували українських гетьманів, старшину та відомих козаків.
    </p>
    <p>
        Враховуючи цю історичну традицію, було вирішено зробити пам’ятний день, присвячений внеску козаків у розвиток української державності.7 серпня 1999 року президент України Леонід Кучма підписав указ про встановлення Дня українського козацтва в день свята Покрови Пречистої Богородиці.
    </p>
    <p align = "center">
        <b>
            УПА
        </b>
    </p>
    <p>
        14 жовтня також вважається днем заснування Української повстанської армії. Можна простежити певний символічний зв’язок між козацькими традиціями, які були пов’язані зі святом Покрови, та заснуванням у цей день УПА.
    </p>
    <p>
        Інформація про створення УПА 14 жовтня є у постанові Української головної визвольної ради від 30 травня 1947 року та наказі передостаннього Головного командира УПА Романа Шухевича ("Тараса Чупринки") від 14 жовтня 1947 року.
    </p>
    <p>
        "В місяці жовтні 1942 р. на Поліссі постали перші збройні відділи, що дали початок Українській повстанчій армії. Для зафіксування цього історичного моменту визнається день 14-го жовтня 1942 року днем постання УПА", - йдеться у наказі.
    </p>
    <p>
        Однак, документа, який би регламентував створення УПА саме у жовтні 1942 року, не виявлено у численних матеріалах діловодства цієї військової структури. Історики ще не дійшли до остаточних висновків у питанні, коли була створена УПА.
    </p>
    <p>
        Зокрема, співробітник Інституту джерелознавства НАНУ Олександр Вовк, який вивчав архіви українських націоналістів у період Другої світової війни,вважав, що УПА була створена у квітні–на початку травня 1943 року. До створення УПА тоді був причетний військовий референт бандерівської ОУН на Волині та Поліссі Василь Івахів (псевдонім "Сонар").
    </p>
    <p align = "center">
        <b>
            Указ Порошенка
        </b>
    </p>
    <p>
        Навіть після проголошення незалежності в Україні довший час зберігалася радянська традиція святкування 23 лютого, яке виглядало як своєрідне "8 березня для чоловіків". Було зрозуміло, що Україні потрібне своє свято Збройних сил, яке спиралося б на вітчизняні історичні традиції і не мало б стосунку до Росії.
    </p>
    <p>
        Нагальна потреба у такому святі особливо гостро постала після російської анексії Криму та окупації частини Донбасу. Армія, яка окупувала Крим та частину Донбасу, якраз вважала своїм святом 23 лютого, день заснування Червоної армії.
    </p>
    <p>
        В таких умовах було зовсім недоречно зберігати звичай святкувати якесь незрозуміле чоловіче свято, яке до того ж було присвячено подіям, що сталися на далекому від України північному заході Росії у 1918 році.
    </p>
    <p>
        День захисника України був офіційно встановлений як державне свято 14 жовтня 2014 року указом президента Петра Порошенка. Цим же указом було скасовано указ президента Кучми від 1999 року, яким встановлювалося свято — День захисника Вітчизни, що відзначалося 23 лютого. Однак у 2014 році День захисника України ще не був вихідним днем.
    </p>
    <p>
        Пізніше президент Порошенко виступив з ініціативою зробити День захисника України неробочим днем. 5 березня 2015 року Верховна Рада підтримала президентський законопроект, у якому День захисника України 14 жовтня було визначено як святковий вихідний.
    </p>
</div>

