
@{
    ViewBag.Title = "Історія";
}
<div class=" jumbotron">
    <h2 align="center"><b>@ViewBag.Message</b></h2>
    <p align="center"><img src="~/Content/Images/1.jpg" /></p>

    <p>
        <br>
        Назва цього популярного в народі свята говорить сама за себе. Захист своєї Вітчизни від зазіхань з боку тих, хто час від часу намагається загрожувати державним засадам будь-якої країни - свята справа. Вона вимагає від людей сміливості, честі та відваги, дуже часто величезної самопожертви і колосальної самовіддачі.
    </p>
    <p>
        Як свято, цей День прийшов на зміну не менш популярного колись всенародного Дня Червоної Армії. Радянська держава не «балувала» свій народ великою кількістю всіляких свят і пам’ятних дат. За великим рахунком керівництво намагалося обмежитися тільки специфічними святами, які ретельно намагалися пофарбувати в строгі політичні відтінки правлячої партії. Так було і з Днем Червоної Армії.
    </p>
    <p>
        Характер загального народного свята, за даними проекту DilovaMova.com, цей День придбав, як День Народження Червоної Армії. Історично цьому передували події, що розгорнулися у палаючій бурі Першої Світової війни і революційних змін, які захлеснули відмираючу Російську Імперію. «Соціалістична вітчизна в небезпеці» - так було сформульовано опублікований 23-го лютого 1918-го року заклик Ради Народних Комісарів, датований 21-м лютого цього ж року. І дійсно, 18-го лютого 1918-го року турецькі та австро-німецькі війська, віроломно порушивши перемир’я, яку було укладено 15-го грудня 1917-го року з новою, тоді ще не цілком сприйманої всерйоз радянською владою, поспішили вторгнуться в Країну Рад. Була зроблена жорстка спроба окупації України, Прибалтики й Білорусії. Вже 21-го лютого німецькі війська, що складалися з 39-ти добре озброєних дивізій захопили Мінськ.
    </p>
    <p>
        Без Армії, широкої народної підтримки і продуманої координації всіх зусиль було просто не можливо зберегти ні свої території, ні саму, нову соціалістичну державу. Захист Вітчизни - свята справа. Виснажений війнами і кривавим хаосом народ піднявся, знайшов у собі сили і встав на захист своєї Батьківщини. Супротивник був відкинутий.
    </p>
    <p>
        Починаючи з 23-го лютого 1923-го за наказом чинної Реввійськради юної радянської держави щорічно стало проводитися свято Дня Червоної Армії. Після Другої Світової війни, в 1946-му році свято набуло нову назву - «День Радянської Армії і Військово-Морського Флоту».
    </p>
    <p>
        Це був один з найулюбленіших і шанованих у народі свят. Народна самосвідомість завжди прагнула до підтримки добрих ініціатив, та вшанування захисників Вітчизни для народу стало однією з гарних славних традицій. Навіть нові реалії і розпад Могутньї Радянської держави не перекреслили цих традицій.
    </p>
    <p>
        В наші дні День захисника Вітчизни зберігся в Росії, Киргизії і Придністров’ї, в Україні та Білорусії. У Російській Федерації цей День був закріплений у відповідності з новим законодавством, починаючи з 1995-го року. За рішенням Державної Думи Росії з 2002-го року це свято стало неробочим днем. З 2011-го року в Трудовий кодекс Російської Федерації були офіційно внесені відповідні зміни і навіть попередній робочий день 22-е лютого став на годину коротше. В Україні День захисників Вітчизни закріплений на підставі Указу Президента незалежної України № 202/99 від 23-го лютого 1999-го року в переліку пам’ятних дат і професійних свят.
    </p>
    <p>
        Однак останні події початку 2014-го року і неоголошена війна Росії проти України змусили переглянути багато поглядів українського суспільства. Відповідно до Указу Президента України № 806/2014 від 14-го жовтня 2014-го року в Україні, з метою вшанування мужності і героїзму захисників незалежності і територіальної цілісності України, військових традицій та перемог українського народу, сприяння подальшому зміцненню патріотичного духу в суспільстві і на підтримку ініціативи громадськості, встановлено нове свято - «День захисника України», яке тепер відзначається щорічно 14-го жовтня, в день одного з великих православних свят запорізьких козаків - «Козацька Покрова» («Покров Пресвятої Богородиці»). Цим же Указом визнається таким, що втратив чинність попередній Указ Президента України від 23-го лютого 1999-го №202.
    </p>
    <p>
        З 5-го березня 2015-го року День захисника України став неробочим днем. За відповідні зміни до статті 73 Кодексу законів про працю України №2187 в цілому проголосували 244 народних депутата Верховної Ради України.
    </p>
    <p>
        У цей День ми приєднуємося до привітань на адресу всіх захисників нашої Вітчизни! Бажаємо їм благополуччя і сил, здоров’я і щастя! Мирного неба і смачного хліба! Зі святом Вас дорогі наші захисники!
    </p>
</div>