@{
    ViewBag.Title = "Головна сторінка";
}
<div class=" jumbotron">
    <h1 align="center">День захисника України</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Про свято</h2>
        <p>
            <b>День захисника́ Украї́ни</b> — свято, що відзначається в Україні 14 жовтня у день святої Покрови Пресвятої Богородиці водночас з Днем Українського козацтва. З 2015 року є державним святом і неробочим днем.
        </p>
        <p><a class="btn btn-default" href="https://uk.wikipedia.org/wiki/%D0%94%D0%B5%D0%BD%D1%8C_%D0%B7%D0%B0%D1%85%D0%B8%D1%81%D0%BD%D0%B8%D0%BA%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8" target="_blank"> Дізнатись більше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Привітання</h2>
        <i>Вітаємо всіх наших дорогих чоловіків (друзів, синів, чоловіків, хлопців, батьків) з святом мужності і честі — з Днем захисника України</i>
        <p><a class="btn btn-default" href="https://kp.ua/life/553701-pryvitannia-z-dnem-zakhysnyka-ukrainy-u-virshakh-i-prozi" target="_blank"> Дізнатись більше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Кафедра військової підготовки</h2>
        <p>У нашому університеті довгий час на високому рівні функціонує кафедра військової підготовки. Ми здійснюємо підготовку офіцерів запасу для Збройних сил України. Наша кафедра є унікальною і не має аналогів у всій Західній Україні. На даний час ми проводимо навчання близько 400 студентів з Рівного, Луцька та інших міст України. Присутня хороша матеріальна база зі зразками зброї та техніки. Викладацький склад – це кваліфіковані офіцери, які мають досвід бойових дій у різних куточках світу.</p>
        <p><a class="btn btn-default" href="http://nuwm.edu.ua/kaf-vp" target="_blank">Дізнатись більше &raquo;</a></p>
    </div>
</div>