@{
    ViewBag.Title = "Головна сторінка";
}
<div class=" jumbotron">
    <h1 align ="center">День захисника України</h1>
</div>
<p class="btn btn-default">@Html.ActionLink("День захисника України", "History", "Home")</p>