
@{
    ViewBag.Title = "Опитування";
}
<div class="row">
    <div class="col-md-4">
        <h2>Військова кафедра</h2>
        <p>
            У нашому університеті довгий час на високому рівні функціонує кафедра військової підготовки. Ми здійснюємо підготовку офіцерів запасу для Збройних сил України. Наша кафедра є унікальною і не має аналогів у всій Західній Україні. На даний час ми проводимо навчання близько 400 студентів з Рівного, Луцька та інших міст України. Присутня хороша матеріальна база зі зразками зброї та техніки. Викладацький склад – це кваліфіковані офіцери, які мають досвід бойових дій у різних куточках світу.
        </p>
        <p><a class="btn btn-default" href="http://nuwm.edu.ua/kaf-vp"><font color="#235995"> Кафедра військової підготовки</font></a></p>
    </div>
</div>